.display{
    margin: 5px;
    padding: 5px;
    border: 2px solid purple;
    border-radius: 10px;
    background-color:rgb(235, 233, 127);
}

#refreshBtn{
    border-radius: 10px;
    border: 2px solid crimson;
    background-color: aquamarine;
    transition-duration: 0.4s;
}

#refreshBtn:hover{
    background-color: wheat;
}

.createTable{
    background-color: rgb(137, 243, 171);
    border-radius: 10px;
    border: 2px solid purple;
    padding: 5px;
    margin: 5px;
}

.dataInsertion{
    background-color: paleturquoise;
    border-radius: 10px;
    border: 2px solid purple;
    padding: 5px;
    margin: 5px;
}

.showTable{
    background-color: rgb(237, 206, 126);
    border-radius: 10px;
    border: 2px solid purple;
    padding: 5px;
    margin: 5px;
}

.searchByName{
    background-color: rgb(210, 140, 244);
    border-radius: 10px;
    border: 2px solid purple;
    padding: 5px;
    margin: 5px;
    
}

